In [6]:
# Import Dependencies
import pandas as pd
import numpy as np

In [7]:
# Create a reference the CSV file desired
# Name of the CSV files#
file = "../HawaiiVacation/clean_HI_measures.csv"

# Read the CSV into a Pandas DataFrame
clean_HI_measures_df = pd.read_csv(file)

clean_HI_measures_df.head()

       station      date  prcp  tobs
0  USC00519397  1/1/2010  0.08    65
1  USC00519397  1/2/2010  0.00    63
2  USC00519397  1/3/2010  0.00    74
3  USC00519397  1/4/2010  0.00    76
4  USC00519397  1/6/2010  0.00    73

In [8]:
# Create a reference the CSV file desired
# Name of the CSV files#
file = "../HawaiiVacation/clean_HI_stations.csv"

# Read the CSV into a Pandas DataFrame
clean_HI_stations_df = pd.read_csv(file)

clean_HI_stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [9]:
# SQL Alchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String, Float, Date
from datetime import datetime

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func


# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

from flask import Flask, jsonify

In [10]:
# Create Engine and Pass in MySQL Connection
engine = create_engine("sqlite:///hawaii.sqlite")
conn = engine.connect()

In [11]:
# Create Measurement and Station classes
class Measurement(Base):
    __tablename__ = "measurement"
    ID = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Float)

class Station(Base):
    __tablename__ = "stations"
    ID = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [12]:
# Create a "Metadata" Layer That Abstracts our SQL Database
Base.metadata.create_all(engine)

In [13]:
clean_HI_measures_df.to_sql("measurement", engine, if_exists = 'replace', index=True, index_label="ID")

clean_HI_stations_df.to_sql("stations", engine, if_exists = 'replace', index=True, index_label="ID")

In [14]:
# Create a Session Object to Connect to DB
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [15]:
# Query All Records in the the table
data = session.query(Measurement)

for record in data:
    print(record)

ValueError: Couldn't parse date string: '1/1/2010'

In [16]:
# Query All Records in the the table
data2 = engine.execute("SELECT * FROM stations")

for record2 in data2:
    print(record2)

(0, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0)
(1, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6)
(2, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0)
(3, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9)
(4, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)
(5, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5)
(6, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999995, 32.9)
(7, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9)
(8, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)